/* ------ BODY ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------ */


/* ------ HEADER ------ */
header img {
    margin-left: 20px;
}

/* ------------ */


/* ------ MAIN------ */
main {
    background-color: aliceblue;
    padding-top: 50px;
    padding-left: 300px;
    padding-bottom: 300px;
    padding-right: 300px;
}

/* HEADER MAIN */
#box-main header {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.button {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
}

#button-task {
    background-color: rgb(94, 193, 233);
    border-color: skyblue;
}

#button-section {
    background-color: white;
    border-color: gray;
}


/* BOX-LIST MAIN */
#box-list {
    margin-top: 5px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    color: black;
    font-family: Arial, sans-serif;
}

.title-list-task {
    font-size: 20px;
}

.title-icon-list-task {
    font-size: 10px;
    text-decoration: none;
}

.list {
    margin-bottom: 40px;
    list-style: none;
}

li {
    padding-top: 20px;
}

.box-icon {
    border: 1px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    font-size: 15px;
}

.span-title-list-task {
    padding-left: 10px;
    padding-right: 10px;
}

.span-icon-list-task {
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.editorial {
    background-color: rgb(37, 146, 189);
}

.q1-goals {
    background-color: purple;
}

.recruiting {
    background-color: green;
}

.mobile {
    background-color: orange;
}

.website {
    background-color: rgb(150, 53, 53);
}

.sales {
    background-color: greenyellow;
}

.true {
    color: green;
    border-color: green;
}

.false {
    color: red;
    border-color: red;
}

/* ------------ */